* {
    margin: 0;
    padding: 0;
    border: 0;
}


header .btn-custom {
    background-color: #7a01ac;
    border-color: #c562ff;
    color: white;
}

header img {
    width: 60px;
}

.table-custom th, .table-custom td {
    border-color: #c562ff;
}

table .btn-custom {
    background-color: #f7f8f9;
    border-color: #c562ff;
    color: #7a01ac;
}
